#include "Version.xcconfig"

TEAM_ID=

PRODUCT_NAME=GeeFlow
BUNDLE_ID_SUFFIX_Debug=.debug
BUNDLE_ID_SUFFIX_Release=
PRODUCT_BUNDLE_IDENTIFIER=app.geeflow$(BUNDLE_ID_SUFFIX_$(CONFIGURATION))

BUNDLE_DISPLAY_NAME_Debug=GeeFlow Debug
BUNDLE_DISPLAY_NAME_Release=GeeFlow
BUNDLE_DISPLAY_NAME=$(BUNDLE_DISPLAY_NAME_$(CONFIGURATION))

OTHER_LDFLAGS = $(inherited) -lsqlite3 -lz
